body{
    display: flex;
    justify-content: center;
    font-family: 'Balsamiq Sans', cursive;
    background: rgba(98,125,77,1);
    background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
}

h1{
    text-transform: uppercase;
    text-align: center;
}

select{
    margin-bottom: 40px;
    padding: 5px;
}

.task{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    background: rgba(255,255,255,1);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

.task__value{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
}
.task__trigger{
    border-radius: 5px;
    padding: 10px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #000000;
    transition: all 0.3s ease;
    cursor: pointer;
}
.task__trigger:hover{
    background: #fff;
    color: #000;
}

.functions,
.doFraction,
.minusTime {
    display: none;
}


.active{
    display: block;
}